# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

tests/_output/*

/stats
/nodejs/node_modules
/maintenance
/env.php
/common/config/google/api-iod/google-api-credentials.json
/common/config/google/api/google-api-credentials.json
/tools/config.php
.vscode/
node_modules/
qBacklog.txt
frontend/runtime/
