[client]
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
port        = 3306
nice		= 0

[mysqld]
user		= mysql
port        = 3306
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
lc-messages-dir	= /usr/share/mysql
skip-external-locking
max_allowed_packet	= 32M
thread_stack		= 192K
thread_cache_size       = 8
max_binlog_size         = 100M

# Accept connections from any IP address
bind-address	            = 0.0.0.0

[mysqldump]
quick
quote-names
max_allowed_packet=32M

[isamchk]
key_buffer		= 32M